body {
  background-color: #212426;
  font-family: sans-serif;
  margin: 0;
}

main {
  background-color: white;
  overflow: hidden;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 35px;
}

img {
  max-width: 500px;
}

h2 {
  text-align: center;
  font-variant: small-caps;
  color: #cc9900;
  padding-top: 10px;
}

h3 {
  text-align: center;
  font-variant: small-caps;
  color: #008484;
}

li {
  list-style-type: square;
}

figcaption {
  font-variant: small-caps;
  color: #008484;
}

/* HEADER START */

.logo-nav {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-variant: small-caps;
  text-decoration: none;
  font-size: 36px;
  padding-top: 5px;
}

header {
  background-image: url("../images/blurred-sprout.png");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 5px 10px black;
  filter: grayscale(10%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 35px 0;
}

header span {
  color: white;
}

nav {
  margin: auto;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-variant: all-small-caps;
  margin-left: 10px;
  padding: 0;
}

nav li {
  list-style: none;
  display: block;
}

.top a {
  width: 300px;
  text-decoration: none;
  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black;
  letter-spacing: 2px;
  color: white;
  margin: 10px 20px;
  padding: 0 0 7px 0;
}

.top a:hover {
  border-bottom: 1px solid white;
}

.top img {
  width: 90px;
}

h1 {
  text-align: center;
  text-shadow: 0 0 5px #cc9900, 0 0 5px #cc9900;
  font-size: 42px;
  font-variant: all-small-caps;
  letter-spacing: 1px;
  color: white;
}

/* HEADER END */

/* HOME PAGE START */

#featured_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.featured_link {
  margin: 0 15px;
}

.featured_link figure, .featured_link p {
  margin: 0;
  width: 200px;
}

.featured_link img {
  margin: 0;
  width: 200px;
  height: 200px;
}

.featured_link figcaption {
  font-variant: all-small-caps;
  letter-spacing: 2px;
  color: #008484;
  margin: 0 0 10px 0;
}

.featured_link a {
  text-decoration: none;
}

#visitor_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#visitor_info > section {
  width: 50%;
}

#visitor_info section ul, #visitor_info table {
  padding: 10px 20px;
  border-spacing: 0;
}

#visitor_info table {
  margin: 0 auto;
}

#visitor_info table th {
  font-variant: all-small-caps;
  letter-spacing: 2px;
  color: #015b5b;
}

#visitor_info table td {
  letter-spacing: 1px;
}

#visitor_info table th, #visitor_info table td {
  border: solid;
  margin: 0;
  padding: 5px;
  border-color: #008484;
}

.highlight {
  background-color: #a7e5e5;
}

#visitor_info figure img {
  display: block;
  width: 100%;
  max-width: 295px;
}

/* HOMEPAGE END */

/* NEWS ALIGNMENT START */

.news-content {
  display: flex;
}

.news-main {
  flex-basis: 65%;
  margin: 0 20px 0 30px;
}

.news figure {
  margin: 0;
  padding: 0;
}

.news figure img {
  width: 100%;
}

.news-content aside {
  flex-basis: 30%;
  height: 100%;
  border: solid;
  margin: 0 30px;
  padding: 5px 15px;
}

/* NEWS ALIGNMENT END */

/* GALLERY START */

.gallery img {
  width: 300px;
  height: 200px;
}

.gallery {
  text-align: center;
  margin-bottom: 10px;
}

/* GALLERY END */

/* RESOURCES START */

#collab {
  background-color: #dbd3cb;
  font-style: italic;
  font-variant: small-caps;
  color: #008484;
  margin: 5px 0;
  padding: 15px;
  padding-bottom: 5px;
}

.float_right {
  float: right;
  margin-top: 0;
}

.float_left {
  float: left;
  margin-top: 0;
  margin-left: 0;
}

.float_right img {
  width: 220px;
}

.float_left img {
  width: 220px;
}

/* RESOURCES END */

footer {
  text-align: center;
  font-size: 10px;
  color: #706c65;
  margin: 15px 0;
  clear: left;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 110%;
  }

  .logo-nav {
    flex-direction: column;
  }

  nav {
    flex-basis: 100%;
    justify-content: center;
  }

  nav ul {
    flex-direction: column;
    font-size: 120%;
    margin-top: 0;
  }

  nav ul li {
    margin-top: 10px;
  }

  h1 {
    margin: 5px 0 0 0;
  }

  #featured_links {
    flex-direction: column;
    align-items: center;
    /* align-items: center; */
  }

  .featured_link {
    margin: 10px auto;
  }

  #visitor_info {
    flex-direction: column;
    align-items: center;
  }

  .gallery {
    flex-direction: column;
    align-items: center;
  }

  .news-content {
    flex-direction: column;
  }
}

/* Cookie Banner */

.banner {
  display: flex;
  align-items: center;

  background: white;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);

  padding: 20px 30px;
  position: sticky;
  top: 0;
  z-index: 10;
}

#cookie-banner button {
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 20px;
}

#cookie-banner p {
  flex-grow: 1;
}

button {
  color: white;
  background-color: #008484;
  font-variant: all-small-caps;
  letter-spacing: 2px;
  padding: 5px 20px;
  border-radius: 4px;
  border: 2px solid #008484;
  cursor: pointer;
}

button:hover {
  color: #008484;
  background-color: white;
  border: 2px solid #008484;
}

/* Pre-Order form */

form {
  margin: 0 auto;
  min-width: 500px;
  width: 500px;
}

.labelComponentPair {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 16px 0;
}

.labelComponentPair > *:first-child {
  text-align: right;
  margin-right: 6px;
  width: 38%;
}

.formFeedback {
  color: #d73232;

  margin-left: 38%; /* same as first-child of labelComponentPair class */
  margin-bottom: -14px;
}

#userName {
  width: 140px;
}

#userEmail {
  width: 240px;
}

#numTickets {
  width: 40px;
}

#pickupLocation {
  width: 180px;
}

.submit {
  display: block;
  margin-top: 16px;
  margin-left: auto;
}

.hidden {
  display: none !important;
}
